/* Reset */
* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}
