/* Header */
.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link:hover {
  text-decoration: underline;
  color: #0cc04e;
  transition: color 0.3s ease-in-out;
}
